*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #5F5E5D;
	margin: 0;
	font-family: Georgia, Arial, Helvetica, sans-serif;
}

footer,
header {
	background-color: #B4B2AE;
}

header {
	margin: 0;
	padding: 10px;
}

footer {
	padding: 1px 10px;
}

.container {
	background-color: #F2EEEA;
}

.container a {
	color: #A12E33;
}

.content {
	padding: 10px;
}

.userBox {
	background: #A12E33;
	padding: 5px 8px;
	color: #F2EEEA;
}

.userBox a {
	color: #F2EEEA;
}

label {
	color: #A12E33;
	font-weight: bold;
	display: block;
}

input, button, textarea {
	font-family: Georgia, Arial, Helvetica, sans-serif;
	border: 1px solid #5F5E5D;
	padding: 3px;
}

button {
	display: block;
	border: 1px solid #B4B2AE;
	padding: 3px 5px;
	margin: 5px 0;
	background: #f2eeea;
	background: -moz-linear-gradient(top, #f2eeea 0%, #b4b2ae 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2eeea), color-stop(100%, #b4b2ae));
	background: -webkit-linear-gradient(top, #f2eeea 0%, #b4b2ae 100%);
	background: -o-linear-gradient(top, #f2eeea 0%, #b4b2ae 100%);
	background: -ms-linear-gradient(top, #f2eeea 0%, #b4b2ae 100%);
	background: linear-gradient(to bottom, #f2eeea 0%, #b4b2ae 100%);
}

input, textarea {
	width: 320px;
}

.entry {
	border-bottom: 1px dashed #A12E33;
	margin-left: 15px;
	padding: 5px;
}

.entry:hover {
	background-color: #B4B2AE;
}

.entry .date {
	display: inline;
}

.entry .rightSideRemarks {
	float: right;
}

.entry .entryControl {
	text-align: right;
}

.inactive {
	color: #5F5E5D;
}

.reviewMark {
	display: none;
	visibility: hidden;
}

.inactive .reviewMark {
	display: block;
	visibility: visible;
	float: right;
	padding: 2px;
}

.container .publishLink {
	background: #E68A8E;
	padding: 2px;
	color: white;
	font-weight: bold;
}

#authError {
	border: 1px dashed #A12E33;
	margin: 10px 0;
	padding: 10px;
	color: white;
	background: #E68A8E;
}

#demoNote {
	border: 2px solid #5F5E5D;
	padding: 10px;
	background-color: #e6d553;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 10px 0 #000000;
	box-shadow: 1px 1px 10px 0 #000000;
	position: absolute;
	right: 20%;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}